* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  background-color: #f5f5dc;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.01em;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
  max-width: 360px;
  margin: 0 auto;
  padding: 0 16px;
  padding-bottom: 20px;
  background-color: #fafafa;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 0 20px;
    padding-bottom: 20px;
  }

  @media (min-width: 1024px) {
    max-width: 1024px;
    padding: 0 24px;
    padding-bottom: 20px;
  }
}

.section {
  margin-bottom: 20px;

  @media (min-width: 1024px) {
    margin-bottom: 40px;
  }
}

.section-box {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.product-link-big {
  color: #2563eb;
  font-weight: 700;
}

.product-link-medium {
  color: #2563eb;
  font-weight: 500;
}

/* HEADER */

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.header-logo {
  color: #2563eb;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.header-border {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #2563eb;
}

.header-date {
  font-size: 14px;
  color: #666;
  margin-top: auto;
}

/* MAIN */

.main-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;

  @media (min-width: 1024px) {
    font-size: 32px;
    max-width: 600px;
  }
}

.sub-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 14px;

  @media (min-width: 1024px) {
    font-size: 24px;
    max-width: 600px;
  }
}

.main-text {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;

  @media (min-width: 1024px) {
    margin-bottom: 20px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;

  @media (min-width: 1024px) {
    margin-bottom: 20px;
  }
}

.list-text {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}

.main-img {
  height: 320px;
  object-fit: cover;
  margin: 0 auto;

  @media (min-width: 1024px) {
    height: 360px;
  }
}

.product-img {
  height: 320;
  margin: 0 auto;

  @media (min-width: 1024px) {
    height: 360px;
  }
}

.specialist-img {
  height: 360px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.short-text {
  @media (min-width: 1024px) {
    max-width: 600px;
  }
}

.specialist-text {
  font-size: 14px;
  text-align: center;
  font-style: italic;
  color: #666;
}

.call-text {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;

  @media (min-width: 1024px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.call-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: linear-gradient(135deg, #56ab2f, #a8e063);
  font-size: 16px;
  font-weight: 500;
  max-width: 330px;
  height: 50px;
  border-radius: 16px;

  @media (min-width: 1024px) {
    max-width: 360px;
    font-size: 18px;
    height: 60px;
  }
}

/* COMMENTS */

.comments-section {
  border-bottom: 2px solid #2563eb;
}

.comments-box {
  display: flex;
  margin-bottom: 12px;

  @media (min-width: 1024px) {
    margin-bottom: 16px;
  }
}

.comments-small-box {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.comments-avatar {
  height: 25px;
  width: 25px;
  margin-top: 7px;

  @media (min-width: 1024px) {
    height: 30px;
    width: 30px;
    margin-top: 5px;
  }
}

.comments-data {
  font-size: 14px;
  font-weight: 500;

  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

.comments-date {
  font-size: 12px;
  color: #666;
}

.comments-text {
  font-size: 14px;
  font-style: italic;

  @media (min-width: 1024px) {
    font-size: 16px;
  }
}

/* FOOTER */

.footer-box {
  text-align: right;
}

.footer-text {
  font-size: 12px;
  color: #666;
}
